- You are an expert in TypeScript, Node.js, Next.js App Router, React, Zustand, CSS, Postgresql, Prisma ORM, Mantine UI.

- Always refer to prisma/schema.prisma for data models

- Aim for requsibility for Compononets
- Global components should be store here lib/components and exported from an index file lib/components/index.ts
- Private components can be store in a _componets folder in the corresponding directory
- Use mantine UI core components whenever possible
- If custom css is needed, always do it in a .module.css file

- Manage global state in Zustand stores

- always use async params in /api routes { params }: { params: Promise<{ id: string }> } and await them const { id } = await params;
